{% extends 'base.html' %} {% load static %} {% block content %}

<div class="main-wrapper | flex flex-col gap-[3em] 2xl:max-w-[1280px] mx-auto">
  <section class="hero-section | mx-auto">
    <div class="hero-container | max-w-[95%] mx-auto">
      <div class="hero-inner | sm:flex sm:mt-[3em] lg:justify-between">
        <div class="hero-picture | hidden sm:block md:max-w-[60%]">
          <img
            class="w-full"
            src="{% static 'images/hero-image.png' %}"
            alt="hero-image"
          />
        </div>
        <div
          class="hero-text | flex flex-col gap-[1em] mt-[3.75em] sm:mt-0 md:w-[35%] md:justify-center lg:w-[45%]"
        >
          <h1 class="main-font main-title md:text-[2.75rem] lg:text-[3.75rem]">
            Реплики картин от <span class="text-primary">Ink. House</span>
          </h1>
          <p class="subtext main-font text-[#86928B]">
            Высокое качество отрисовки на плотной бумаге или льняном холсте.
            Редкие произведения, доступные цены.
          </p>
          <div class="button-block | mt-[2em]">
            <a class="text-primary border-2 py-[0.875em] px-[2.75em]" href="#"
              >Продукция</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="products | main-font">
    <div class="products-container | flex flex-col justify-between">
      <div class="products-inner |">
        <div class="title-and-tags | flex flex-col gap-[1.25em]">
          <div class="title-block | max-w-[85%] mx-auto">
            <h1 class="text-[1.5rem] main-font">Репродукции</h1>
          </div>

          <!-- HERE -->

          <!-- <form action="" method="get">
            <!-- <button type="submit" name="category" value="all">All</button> -->

          <form action="" method="GET">
            <ul
              class="tags | flex gap-[1.25em] main-font overflow-scroll ml-[7.5%] md:overflow-hidden"
            >
              {% for category in categories%}
              <li>
                <button
                  type="submit"
                  name="category"
                  value="{{category.id}}"
                  class="bg-[#376B44] text-white rounded-[7em] py-[0.6em] px-[2.25em]"
                >
                  {{category.title}}
                </button>
              </li>
              {% endfor %}
              <!-- <li class="bg-[#D4E8D9] rounded-[7em] py-[0.6em] px-[2.25em]">
              Германия
            </li>
            <li class="bg-[#D4E8D9] rounded-[7em] py-[0.6em] px-[1.25em]">
              Англия
            </li> -->
            </ul>
          </form>

          <!-- HERE END -->
        </div>
        <div
          class="products-grid | grid grid-cols-1 mt-[1.5em] gap-[1.5em] max-w-[85%] mx-auto sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <!-- Product object -->
          {% for product in products %}
          <div class="product-item | bg-[#E1EDE6] py-[1.5em]">
            <div class="product-container | max-w-[90%] mx-auto">
              <div class="product-image |">
                <img
                  class="w-[100%]"
                  src="{{ product.image.url }}"
                  alt="product-image"
                />
              </div>
              <div class="product-body | py-[1em]">
                <p class="product-author | text-[#86928B]">
                  {{product.author}}
                </p>
                <h1 class="product-title | text-[1.5rem]">{{product.title}}</h1>

                <p class="material |">{{product.description}}</p>

                <div class="price-n-buy | mt-[1.25em]">
                  <p class="price | text-primary text-[1.25rem]">14 500 руб</p>
                  <div class="button-block | mt-[2em] flex text-center">
                    <a
                      class="text-primary border-2 border-[#598D66] w-full py-[0.875em] px-[2.75em]"
                      href="#"
                      >Продукция</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section
    class="new-collections | bg-[url('/static/images/collections.png')] bg-cover bg-top w-full py-[3em] lg:py-[10em] mx-auto"
  >
    <div class="new-collections-container | max-w-[85%] mx-auto">
      <div class="new-collections-wrapper | flex flex-col gap-[2em]">
        <div class="title-block | flex items-center lg:gap-[1.5em]">
          <img src="{% static 'images/gold_star.svg' %}" alt="" />
          <h1
            class="title | main-font text-[1.5rem] text-white leading-5 lg:text-[2.5rem] lg:max-w-[50%] lg:leading-10"
          >
            Новая коллекция французских авторов
          </h1>
        </div>
        <div class="text-body | flex flex-col gap-[2em]">
          <p class="main-font text-white lg:max-w-[50%]">
            Сложно сказать, почему акционеры крупнейших компаний призывают нас
            к новым свершениям, которые, в свою очередь, должны быть
            заблокированы в рамках своих собственных рациональных ограничений.
          </p>
          <p class="main-font text-white lg:max-w-[50%]">
            Принимая во внимание показатели успешности, граница обучения кадров
            предопределяет высокую востребованность направлений прогрессивного
            развития.
          </p>
        </div>
        <div class="button-block | mt-[2em] flex text-center">
          <a
            class="text-black bg-[#EEDB6D] w-full text-[1.125rem] font-normal py-[0.875em] px-[2.75em]"
            href="#"
            >Ознакомиться</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="our-team | py-[3.125em] mx-auto">
    <div class="our-team-container| max-w-[85%] mx-auto">
      <div
        class="our-team-wrapper | flex flex-col gap-[2em] lg:flex-row lg:justify-between lg:items-center"
      >
        <div class="our-team-image-block | lg:max-w-[45%]">
          <img
            class="w-[75%] lg:w-full"
            src="{% static 'images/our_team.png' %}"
            alt=""
          />
        </div>
        <div
          class="our-team-description-block | flex flex-col gap-[1.25em] lg:w-[45%] lg:justify-center"
        >
          <h1
            class="title | main-font text-[1.5rem] text-black leading-5 md:text-[2rem] lg:text-[2.5rem]"
          >
            Наша команда
          </h1>
          <p class="main-font text-black md:text-[1.125rem]">
            Значимость этих проблем настолько очевидна, что базовый вектор
            развития позволяет оценить значение экспериментов, поражающих
            по своей масштабности и грандиозности. Мы вынуждены отталкиваться
            от того, что консультация с широким активом.
          </p>
          <div class="team-profiles | flex gap-[1.875em]">
            <a href="#">
              <img src="{% static 'images/alice.jpg' %}" alt="" />
            </a>
            <a href="#">
              <img src="{% static 'images/jake.jpg' %}" alt="" />
            </a>
            <a href="#">
              <img src="{% static 'images/kent.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
