<!-- templates/_base.html -->
{% load static %} {% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ink House | {{page_name}}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-white font-medium">
    <div
      class="uber-main | min-h-[100vh] flex flex-col justify-between mx-auto overflow-hidden"
    >
      <div class="main | min-h-[100%]">
        {% include 'navbar.html' %} {% block content %} {% if page_name %}
        <h1>PAGE NAME IS HERE</h1>
        {% endif %}{% endblock content %}
      </div>
      {% include 'footer.html' %}
    </div>
    <script defer src="{% static 'js/main.js' %}"></script>
  </body>
</html>
