{% load static %}

<div class="footer | bg-[#E1EDE6] py-[1.25em]">
  <div class="footer-container | max-w-[85%] mx-auto">
    <div class="footer-wrapper | flex flex-col lg:flex-row lg:justify-between">
      <div
        class="footer-main-block | grid grid-cols-2 gap-[2em] border-b-2 border-[#C3D1C6] py-[1em] lg:grid-cols-4 lg:w-[80%] lg:border-0"
      >
        <div class="logo-and-number | flex flex-col">
          <img
            class="max-w-[8em]"
            src="{% static 'images/logo.svg' %}"
            alt=""
          />
          <div class="number | mt-[1.125em]">
            <p class="number-text |">+7 (999) 543-54-54</p>
            <p class="number-subtext | text-[#86928B]">Мастерская</p>
          </div>
        </div>
        <div class="info-col | flex flex-col justify-start mt-[3em] lg:mt-0">
          <div class="col-title">Репродукции</div>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">Франция</p>
          </a>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">Германия</p>
          </a>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">Англия</p>
          </a>
        </div>

        <div class="info-col | flex flex-col justify-start">
          <div class="col-title">Новинки</div>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">2021</p>
          </a>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">2022</p>
          </a>
        </div>

        <div class="info-col | flex flex-col justify-start">
          <div class="col-title">О нас</div>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">Художники</p>
          </a>
          <a href="#">
            <p class="main-font text-[#86928B] text-[1.125rem]">Менеджеры</p>
          </a>
        </div>
      </div>
      <div class="footer-links-wrapper | py-[1.5em] flex flex-col gap-[0.5em]">
        <div class="footer-links-block | flex justify-center gap-[1.5em]">
          <a href="#">
            <img src="{% static 'images/facebook.svg' %}" alt="" />
          </a>
          <a href="#">
            <img src="{% static 'images/instagram.svg' %}" alt="" />
          </a>
          <a href="#">
            <img src="{% static 'images/youtube.svg' %}" alt="" />
          </a>
        </div>
        <p
          class="copyright-text | main-font text-[#86928B] flex justify-center"
        >
          Ink. House ® All rights reserved
        </p>
      </div>
    </div>
  </div>
</div>
