@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .main-font {
    font-family: "Raleway", sans-serif;
  }
  .main-title {
    font-size: 1.875rem;
  }

  .subtext {
    font-size: 0.875rem;
  }

  .text-primary {
    color: #598d66;
  }
}
